include README.md pyproject.toml setup.py
recursive-include llvm *.cpp *.h *.ll *.py *.txt *.md *.cmake *.patch
recursive-include scripts *.py *.mjs
recursive-include scripts *.json
recursive-include frontend src/*
include frontend/package.json frontend/package-lock.json frontend/index.html frontend/vite.config.ts frontend/vite.release.config.ts frontend/tsconfig.json
recursive-include frontend/src *.tsx *.ts *.css
recursive-include compilerlens/_bin *
recursive-include compilerlens/_web *
global-exclude __pycache__ *.pyc
